/* Basic code - don't modify */

.dropmenu { display: block; margin: 0; padding: 0; position: relative; }
.dropmenu li { display: block; list-style: none; margin: 0; padding: 0; float: left; position: relative; }
.dropmenu a { display: block; }
.dropmenu ul { display: none; position: absolute; left: 0; margin: 0; padding: 0; }
* html .dropmenu ul { line-height: 0; } /* IE6 "fix" */
.dropmenu ul a { zoom: 1; } /* IE6/7 fix */
.dropmenu ul li { float: none; }
.dropmenu ul ul { top: 0; }


/* .menu ul a { border-bottom: none; } - I also needed this for IE6/7 */

