/* Essentials - configure this */

.menu ul {
    width: 10em;
}
.menu ul ul {
    left: 10.1em;
}

/* Everything else is theming */

.menu {
    background-color: #E0A935;
    height: 1em;
    font-family: sans-serif;
    color: white;
    font-size: medium;
    font-variant: small-caps;

}
.menu *:hover {
    background-color: transparent;
}
.menu a {
    border-right: 1px solid white;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    line-height: 1;
}
.menu li.hover a {
    background-color: #5E5A5A;
}
.menu ul {
    top: 1.1em;
}
.menu ul li a {
    background-color: #5E5A5A;
}
.menu ul a.hover {
    background-color: #5E5A5A;
}
.menu * a {
    text-decoration: none;
}
.menu * a[name]
{
    cursor: default;
}
.menu * a.editMode {
    color: red;
}
.menu a.disabled {
    color: #aaa;
}
.navigation {
    background-color: #E0A935;
    height: 2em;
}